body {
    font-family: 'Times New Roman', Times, serif;

}

span {
    background-color: yellow;
    font-weight: bold;
}

h1 {
   
   box-sizing: border-box;
   color: black; 
    
}


h3 {
    font-size: 32px;
    padding: 16px;
    border: 16px;
    border-color: blue;
    box-sizing: border-box;
    border-style: solid;
    width: 225px;
    background-color: red;
}

p {
    font-size: 18px;
    padding: 16px;
    border: 32px;
    box-sizing: border-box;
}

div {
    border: 16px;
    border-style: dotted;
    box-sizing: border-box;
    padding: 16px;

}

li {
    padding: 16px;
    font-size: 22px;
}


.birdie  {
    border-color: pink;
    padding: 16px;
}

.bogey  {
    border-color: burlywood;
    padding: 16px;
}

.hamburger  {
    color: green;
    background-color: grey;
    box-sizing: border-box;
}